<div>
    <p>Title: {{ task.title }} id: {{ task.id }}</p>
    <p>Description: {{ task.description }}</p>
    <p>Deadline: {{ task.deadline }}</p>
    <p>Project: {{ task.project.title }}</p>
    {% if user.is_developer %}
        <p>Creator: {{ task.creator.username }} {{ task.creator.first_name }} {{ task.creator.last_name }}</p>
    {% else %}
        <p>Executor: {{ task.executor.username }} {{ task.creator.first_name }} {{ task.creator.last_name }}</p>
    {% endif %}
</div>