<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
    <div>
        {% if expired_tasks %}
            <h3>Overdue tasks:</h3>
            <hr>
            {% for task in expired_tasks %}
                {% include 'email_notifications/task_description.html' %}
                <hr>
            {% endfor %}
        {% else %}
            <h3>No overdue tasks!</h3>
            <hr>
        {% endif %}
    </div>
    <div>
        {% if tasks %}
            {% if user.is_developer %}
                <h3>Managers have given you the following tasks:</h3>
            {% else %}
                <h3>You gave developers the following tasks:</h3>
            {% endif %}
            <hr>
            {% for task in tasks %}
                {% include 'email_notifications/task_description.html' %}
                <hr>
            {% endfor %}
        {% else %}
            {% if user.is_developer %}
                <h3>Managers were not given new tasks</h3>
            {% else %}
                <h3>You were not given new tasks</h3>
            {% endif %}
            <hr>
        {% endif %}
    </div>
</body>
</html>